@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

body {
    margin: 0;
    background-color: #f1f2f8;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
    font-stretch: ultra-condensed;
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
    font-stretch: ultra-condensed;
}

